.ContainerForm{
    display: flex;
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    justify-content: center;
    margin-top: 50px;
}
.InputStyle{
    display: flex;
    flex-direction: column;
    text-align: center;
}